
services:
  base:
    build:
      context: ./context
      dockerfile: Dockerfile.base
    image: gh-runner-base:latest

  runner:
    build:
      context: ./context
      dockerfile: Dockerfile.runner
      args:
        BASE_IMAGE: gh-runner-base:latest
    image: gha-runner:latest
    depends_on:
      - base
