name: Create Azure Remote Backend
run-name: Create Azure Remote Backend
on:
    workflow_dispatch:

permissions:
  id-token: write 
  contents: read  


jobs:
  deploy-terraform-backend:
    runs-on: ubuntu-latest
    environment: dev
  
    defaults:
      run:
        shell: bash
        working-directory: create-remote-state

    outputs:
      terraform-apply-success: ${{ steps.terraform-apply.outcome == 'success' }}
      
    steps:
    - name: 'Checkout Azure Infra'
      uses: actions/checkout@v4
      with: 
        sparse-checkout:
          create-remote-state

    # - name: Log in to Azure using OIDC
    #   uses: azure/login@v2
    #   with:
    #     client-id: ${{ secrets.AZURE_CLIENT_ID }}
    #     tenant-id: ${{ secrets.AZURE_TENANT_ID }}
    #     subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
          
    - name: Terraform Init - Backend
      run: terraform init


        
    - name: Terraform Plan - Backend
      run: |
        pwd
        terraform plan -out="tfplan_remote.out"
      env:
        ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        ARM_USE_OIDC: true
    
    - name: Terraform Apply - Backend
      id: terraform-apply
      run: terraform apply -auto-approve "tfplan_remote.out" 
      env:
        ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        ARM_USE_OIDC: true

  deploy-receiver-fn-caller: 
    needs: "deploy-terraform-backend"
    if: ${{ needs.deploy-terraform-backend.outputs.terraform-apply-success == 'true' }}
    uses: ./.github/workflows/deploy_azure_infra.yml
    secrets: inherit
        
