name: Create Azure Remote Backend

on:
    workflow_dispatch:
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    env:
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
  
    defaults:
      run:
        shell: bash
        working-directory: create-azure-infra/remote-state
      
    steps:
    - name: 'Checkout Azure Infra'
      uses: actions/checkout@v4
      with: 
        sparse-checkout:
          create-azure-infra/remote-state
          
    - name: Terraform Init - Backend
      run: terraform init
        
    - name: Terraform Plan - Backend
      run: terraform plan -out="tfplan_remote.out"
    
    - name: Terraform Apply - Backend
      run: terraform apply -auto-approve "tfplan_remote.out" 
        
