name: Deploy Receiver Function to Azure

on:
  push:
    paths:
    - github-runner-receiver-function/**
  workflow_call:

    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true

permissions:
  id-token: write 
  contents: read  

defaults:
  run:
    shell: bash
    working-directory: github-runner-receiver-function

env:
  AZURE_FUNCTIONAPP_NAME: ''   # set this to your function app name on Azure
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './github-runner-receiver-function'       # set this to the path to your function app project, defaults to the repository root
  PYTHON_VERSION: '3.11'                     # set this to the python version to use (e.g. '3.6', '3.7', '3.8')

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - name: 'Checkout Receiver Function'
      uses: actions/checkout@v3
      with: 
        sparse-checkout:
          github-runner-receiver-function


    - name: Zip function App
      run: zip -r function_app.zip ./ -x .funcignore 


    - name: 'Login via Azure CLI'
      uses: azure/login@v2
      with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

        # - name: Log in to Azure using OIDC
    #   uses: azure/login@v2
    #   with:
    #     client-id: ${{ secrets.AZURE_CLIENT_ID }}
    #     tenant-id: ${{ secrets.AZURE_TENANT_ID }}
    #     subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: 'awesomeproj-dev-receiver-function-app' 
        package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
        


  #enable-oryx-build: true