name: Deploy Controller Function to Azure
run-name: Deploy Controller Function to Azure
on:
  # push:
  #   paths:
  #   - github-runner-controller-function/**

  workflow_call:

    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true

permissions:
  id-token: write 
  contents: read 

defaults:
  run:
    shell: bash
    working-directory: github-runner-controller-function

env:
  AZURE_FUNCTIONAPP_NAME: 'awesomeproj-dev-controller-function-app'   # set this to your function app name on Azure
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './github-runner-controller-function'       # set this to the path to your function app project, defaults to the repository root
  PYTHON_VERSION: '3.11'                   # set this to the dotnet version to use (e.g. '2.1.x', '3.1.x', '5.0.x')
  

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev

    defaults:
      run:
        shell: bash
        working-directory: github-runner-controller-function

    steps:
    - name: 'Checkout Controller Function'
      uses: actions/checkout@v4
      with: 
        sparse-checkout:
          github-runner-controller-function

    - name: 'Login via Azure CLI'
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


    - name: Deploy Azure Function
      run: |
          func azure functionapp publish awesomeproj-dev-controller-function-app --python
      env:
          AZURE_FUNCTIONAPP_NAME: ${{ env.AZURE_FUNCTIONAPP_NAME }}

    
    

    # - name: 'Run Azure Functions Action'
    #   uses: Azure/functions-action@v1
    #   id: fa
    #   with:
    #     app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
    #     package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
